.center {
  margin: auto;
  width: 50%;
}
h2 {
  color: black;
  font-size: 12pt;
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.8;
  padding-top: 80px;
  padding-bottom: 0px;
}
p {
  color: lightgrey;
  font-size: 12pt;
  font-family: 'Nanum Myeongjo', serif;
  text-align: left;
  line-height: 1.3;
}
span {
    color: black;
}
a:link {
  color: black;
  text-decoration: none;
  }
a:visited {
  color: black;
  }
a:hover {
  font-style: italic;
  }
a:active {
  font-style: italic;
  }
.caption1 {
  height:1px;
  width:400px;
  transform: rotate(90deg) translateX(400px) translateY(180px);
}
.caption2 {
  height:1px;
  width:280px;
  display: inline-block;
  transform: translateX(250px) translateY(740px);
}
.caption3 {
  height:1px;
  width:500px;
  transform: rotate(-50deg) translateX(-950px) translateY(950px);
}
.caption4 {
  height:300px;
  width:450px;
  transform: translateX(-140px) translateY(50px);
}
.chairback {
  height: 800px;
  width: 80px;
  background-color: black;
  transform: translateX(-360px);
}
.chairseat {
  height: 80px;
  width: 800px;
  background-color: black;
  margin: 0px;
}
.chairslant {
  height: 810px;
  width: 120px;
  background-color: black;
  transform: skewX(140deg);
  margin: 0px;
}
.chairbottom {
  height: 80px;
  width: 800px;
  background-color: black;
  margin: 0px;
}
.blackStroke {
  background-color: white;
  outline: 2px solid black;
  outline-offset: -2px;
}
.blackText {
  color: black;
}
